body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	background-color: #DFF2EB;
	width: 100vw;
	min-height: 100vh;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#root {
	margin: 0;
	padding: 0;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title {
	font-size: 4rem;
	font-weight: 400;
	margin: 1rem;
	color: #4A628A;
}

.container {
	width: 30rem;
	background-color: white;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
